@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.main-cont {min-height:90vh;}
#landing-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Pictures/cookie.jpg");
}

#home-popular-cookies-cont {
    height:90vh;
}
#home-popular-cookies-cont > h1 {
    text-align: center;
    margin: 0;
}
#home-popular-cookies-1 {
    display: flex;
    height:100%;
    justify-content: space-evenly;
}
.home-cookie-card {
    width:20%;
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 80%;
    background-position: bottom;
    background-size: 100% 65%;
    background-repeat: no-repeat;
}
.home-cookie-card:nth-child(1), .home-cookie-card:nth-child(3) {
    position: relative; 
    top:30px;
}
.home-cookie-card div {
    height:50%;
    position: relative;
}
.home-cookie-card h5 {
    margin: 0;
    color: black;
    position: absolute;
    top: 99px;
    left: 55px;
    font-size: 22px;
}
.popular-cookie-img {
    width:100%;
    height:56vh;
}
.svg-wave {
    height:36vh;
    width:100%;
}


#home-aboutus-cont {
    height:80vh;
    display: flex;
}
.home-aboutus-card {
    height:100%;
    width:50%;
}
.home-aboutus-card:nth-child(1) {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.home-aboutus-card:nth-child(2) {

}
.home-tagline-cont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.teahub.io/photos/full/48-480241_bakery-hd.png");
}
.home-tagline-cont > p {
    height: 60vh;
    display: flex;
    color: sandybrown;
    justify-content: center;
    align-items: flex-end;
    font-size: 28px;
    padding-bottom: 80px;
}
.info-btn {
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    background-color: cornsilk;
    box-shadow: 0px 0px 10px 2px burlywood;
    opacity: 0.7;
    transition: all 1s;
    cursor:pointer;
    margin: 10px;
}
.info-btn:hover {opacity: 1}
.info-btn:focus {outline: none;}
#landing-div p {
    margin:0;
    margin-bottom:15px;
    color:white;
    font-size:32px;
}
#landing-div button {
    border-radius: 40px;
    padding:8px;
    width:120px;
    background:white;
}
#landing-slideshow {
    height:400px;
    background-image: url('../../Pictures/cookie.jpg');
    background-position: center;
    background-size: cover;
    animation: slideshow 10s infinite;
    width: 75%;
    margin: 15px auto;
}
#info-box {
    display: flex;
    background-color: bisque;
}
#info-box > div {
    width:100%;
}
@keyframes slideshow {
    0% {background-image: url('../../Pictures/cookie.jpg');}
    25% {background-image: url('../../Pictures/cookie2.jpg');}
    50% {background-image: url('../../Pictures/cookie3.jpg');}
    75% {background-image: url('../../Pictures/cookie4.jpg');}
    100% {background-image: url('../../Pictures/cookie.jpg');}
}
input {
    width:50%;
    margin:10px 0px;
    padding:10px;
    border:0;
    text-align: center;
    border-radius: 6px;
    -webkit-appearance: none;
    -webkit-box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type='textarea']{height:100px;}
.denied {border:2px solid red};
input.middle:focus {
    outline-width: 0;
}
@media (max-width: 500px){
#landing-slideshow {
    width:100%;
    margin-top:0;
}
input {width:90%;}
#info-box {flex-direction: column;}
#info-box > div {width:100%;}
}